<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<title>{$eyou.field.tag}_{eyou:global name="web_name" /}</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="Shortcut Icon" href="{eyou:global name='web_cmspath' /}/favicon.ico" type="image/x-icon" />
<link rel='stylesheet' id='main-css'  href='{eyou:global name='web_templets_pc' /}/skin/css/style.css' type='text/css' media='all' />
<script type='text/javascript' src='{eyou:global name='web_templets_pc' /}/skin/js/jquery.js'></script>
<style>
.container {
	max-width: 800px
}
</style>
<!--[if lt IE 9]><script src="{eyou:global name='web_templets_pc' /}/skin/js/html5.js"></script><![endif]-->
</head>
<body class="archive category category-funny category-5 m-home-most focusslide_s_m uimo ui-c3">
<section class="container"> {eyou:include file="header.htm" /}
  <div class="content-wrap">
    <div class="content">
      <h1 class="title"><strong>标签：{$eyou.field.tag}</strong></h1>
      <div id="list001"> 
      {eyou:list pagesize="10" titlelen="20"}
        <article class="excerpt excerpt-one">
          <header><a class="cat label label-important" href="{$field.typeurl}">{$field.typename}<i class="label-arrow"></i></a>
            <h2><a target="_blank" href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></h2>
          </header>
          <p class="text-muted time"></p>
          <p class="focus"><a target="_blank" href="{$field.arcurl}" class="thumbnail"><span><img src="{$field.litpic}" class="thumb"/></span></a></p>
          <p class="note">{$field.seo_description|html_msubstr=###,0,80,true}</p>
          <p class="text-muted views"><span class="post-views">阅读({$field.click})</span><span class="post-tags">标签：{eyou:tag sort='now' getall='0' row='10' id='field2'} <a href='{$field2.link}'>{$field2.tag}</a>&nbsp;&nbsp;{/eyou:tag}</span></p>
        </article>
        {/eyou:list} </div>
      <div class="pagination pagination-multi">
        <ul>
          {eyou:pagelist listitem='index,pre,pageno,next,end' listsize='2' /}
        </ul>
      </div>
    </div>
  </div>
  {eyou:include file="right.htm" /}
  {eyou:include file="footer.htm" /} </section>
<script>
window.jui = {
	uri: '/',
	roll: '1 2 3',
	ajaxpager: '0'
}
</script> <script type='text/javascript' src='{eyou:global name='web_templets_pc' /}/skin/js/bootstrap.js'></script> 
<script type='text/javascript' src='{eyou:global name='web_templets_pc' /}/skin/js/hammer.min.js'></script> 
<script type='text/javascript' src='{eyou:global name='web_templets_pc' /}/skin/js/custom.js'></script> 
<script type='text/javascript' src='{eyou:global name='web_templets_pc' /}/skin/js/wp-embed.min.js'></script>
</body>
</html>